/* src/App.css */
.app {
    display: flex;
    height: 100vh;
    background-color: #041626; /* screens background */
  }
  
  .navbar {
    width: 200px;
    background-color: #071a2b; /* navbar background */
    padding-inline: 20px;
  }
  
  .content {
    flex: 1;
    overflow: auto;
    color: #96a6be; /* Default text color */
  }
  