.student-list-table {
    background-color: #041626;
    color: #d3e3fd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 100px;
    margin-inline: 200px;
    border: 1px solid #283d55;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #283d55;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #0d2136;
    color: #d3e3fd;
    flex: 1;
}

.actions-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-student-button {
    padding: 10px 15px;
    background-color: #0842a0;
    color: #d3e3fd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-student-button:hover {
    background-color: #10243a;
}

.header-menu-options {
    position: relative;
}

.ellipsis-icon-container {
    display: none;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #0d2136;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ellipsis-icon-container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #0d2136;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.ellipsis-icon-container:hover {
    background-color: #0d2136;
}

.ellipsis-icon {
    color: #d3e3fd;
    font-size: 20px;
    display: flex;
}

.header-dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: #071a2b;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 2;
}

.header-dropdown-content button {
    background: none;
    border: none;
    color: #d3e3fd;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s ease;
}

.header-dropdown-content button:hover {
    background-color: #10243a;
}

.table-container {
    margin-top: 10px;
}

.students-table {
    width: 100%;
    border-collapse: collapse;
}

.students-table th, .students-table td {
    padding: 10px;
    text-align: left;
}

.students-table th {
    background-color: #0d2136;
}

.students-table th, .students-table td {
    border-bottom: 1px solid #283d55;
}

.student-item {
    position: relative;
}

.student-item:hover .ellipsis-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #071a2b;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.student-item:hover {
    background-color: #0d2136;
}

.student-actions {
    position: relative;
    text-align:end
}

.student-actions .actions-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #071a2b;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 2;
}

.student-item.show-actions .student-actions .actions-menu {
    display: flex;
}

.actions-menu button {
    background: none;
    border: none;
    color: #d3e3fd;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s ease;
}

.actions-menu button:hover {
    background-color: #10243a;
}
